[package]
name = "glslt"
version = "0.4.0"
authors = ["Vincent Tavernier <vince.tavernier@gmail.com>"]
edition = "2018"
license = "MIT"
homepage = "https://github.com/vtavernier/glslt"
repository = "https://github.com/vtavernier/glslt.git"
readme = "README.md"

[lib]
path = "src/lib.rs"
crate-type = ["rlib", "cdylib"]

[dependencies]
glsl = { git = "https://github.com/vtavernier/glsl", branch = "dev" }

thiserror = "1.0"
sha-1 = "0.9"
lazy_static = "1.4"
petgraph = "0.5"
bimap = "0.4"
log = "0.4.8"

[dependencies.pyo3]
version = "0.11"
features = [ "extension-module" ]
optional = true

[features]
python = ["pyo3"]
